name: couldai_user_app
description: "تطبيق سجل مكونات خلطات البهارات"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  provider: ^6.0.5
  intl: ^0.19.0
  share_plus: ^7.2.2
  url_launcher: ^6.2.6
  image_picker: ^1.0.8
  pdf_text: ^0.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
